{% extends 'base.html' %}

{% block content %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Student Name</th>  
        <th>Student Roll No</th>  
        <th>year_in_school</th>  
        <th>ID</th>
        <th>Student Image</th>  
        <th>Actions</th>	
    </tr>  
    </thead> 
         
    <tbody>  
{% for s in students %}  
    <tr>  
        <td>{{ s.name }}</td>  
        <td>{{ s.roll_no }}</td>  
        <td>{{ s.year_in_school }}</td>  
        <td>{{ s.id }}</td>
        <td><img src="{{ s.image.url }}" height="200px"></td>  
     <td><a href="{% url 'delete' s.id %}" class='btn btn-danger' >Delete</a>
     <a href="{% url 'update' s.id %}" class='btn btn-info' >UPDATE</a></td>
   
        <td>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
</div></center>
{% endblock %}